<div class="container">
  <div class="jumbotron">
    <h1>{{title}}</h1>
  </div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="about">About Us</a>
      </div>
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="list">Our Members</a>
      </div>
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="admin">Admin page</a>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <router-outlet></router-outlet>
</div>
